@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap')
/* Asterisk wildcard selector to override default styles added by the browser*/

h1{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color:black;
    font-size: 20px;
}
body{
font-size: 16px;
font-family: 'Lato', sans-serif;
}
.title{
text-align: center;
font-size: 3.8rem;
}

.main navigation{
background-color: darkgreen;
padding: 1rem;
display: flex;
justify-content: space-between;
}


h2{
text-align: center;
font-family: 'Lato', sans-serif;
color:black;
}
/* Main Content */

h2{
text-align: center;
font-family: 'Lato', sans-serif;
color:black;
}
h3{

font-family: 'Lato', sans-serif;
color:black;
}

/* Footer */
footer{
background-color: white;
}